.entry_first {
  background-color: gold;
  opacity: 0.8;
}

.entry_second {
    background-color: silver;
    opacity: 0.8;
}

.entry_third {
    background-color: #cd7f32;
    opacity: 0.7;
}

.entry_normal {
    opacity: 1;
}

.button_row {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.button {
    color: #fc4c02;
    background-color: #fc4c02;
    margin : 0.1em;
}



.ranktext_td {
    display:inline-block;
}

.ranktext_rank {
    font-weight: bold;
}

.ranktext_score {
    font-weight: normal;
    opacity: 0.7;
}

.header {
    color : #fc4c02;
    /* text-align: center; */
}

.th {
    text-align: center;
}

.score {
    opacity: 0.7;
}

.divider {
  border-top: solid 1px #1a1a1a;
  clear: both;
  height: 1px;
  width: 100%;
}

.entry_border {
    color: red;
    border: 50px solid green;
}