.entry_first {
  background-color: gold;
  opacity: 0.8;
}

.entry_second {
    background-color: silver;
    opacity: 0.8;
}

.entry_third {
    background-color: #cd7f32;
    opacity: 0.7;
}

.entry_normal {
    opacity: 1;
}

.button_row {
    /* position: relative;
    text-align: center; */
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.button {
    /* text-transform: capitalize; */
    color: #fc4c02;
    background-color: #fc4c02;
    margin : 0.1em;
}


/* .dropdown_item {
    min-width: 3em;
} */

.ranktext_rank {
    font-weight: bold;
}

.ranktext_score {
    font-weight: normal;
    opacity: 0.7;
}

.link {
    color : #fc4c02;
}

